.article {
	height: 2rem;
	background-color: tan;
	color: black;
	line-height: 2rem;
	padding-left: 1rem;
}

.article > .btn{
	height: 2rem;
	border-radius: 0;
	background-color: gray;
	line-height: 1rem;
}

